<MudPaper Class="background-image" Elevation="4" Style="background-image: url('/img/image1.png');">
    <div class="bg-transparent">
        <MudText Typo="Typo.h5" Class="overlay-text">About Us</MudText>
        <MudText Typo="Typo.body2" Class="overlay-text">
            Exxerpro Solutions, founded in 2010 in Santiago de Querétaro, Mexico, specializes in mechanical and industrial engineering. We focus on optimizing industrial processes through advanced techniques such as automation, analysis, modeling, control, simulation, measurement, digitization, sustainability, and artificial intelligence.
        </MudText>
    </div>
</MudPaper>