<MudPaper Class="background-image" Elevation="4" Style="background-image: url('/img/image2.png');">
    <div class="bg-transparent">
        <MudText Typo="Typo.h5" Class="overlay-text">Our Mission</MudText>
        <MudText Typo="Typo.body2" Class="overlay-text">
            Our mission is to enhance operational excellence and efficiency, driving towards Industry 5.0. We are committed to sustainability and innovation, minimizing waste, and optimizing the use of energy and resources.
        </MudText>
    </div>
</MudPaper>