.background-image[b-wa6l5ie7sk] {
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
    color: black;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

.overlay-text[b-wa6l5ie7sk] {
    font-weight: bold;
}

.full-width[b-wa6l5ie7sk] {
    width: 100%;
    margin-bottom: 20px;
    color: black;
}

.bg-transparent[b-wa6l5ie7sk] {
    background-color: rgba(255, 255, 255, 0.8); /* Add transparency to the background */
    padding: 20px;
    border-radius: 10px;
}

#particles-js[b-wa6l5ie7sk] {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: #282c34;
}

.text-link[b-wa6l5ie7sk] {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

    .text-link:hover[b-wa6l5ie7sk] {
        text-decoration: underline;
    }

    .text-link MudIcon[b-wa6l5ie7sk] {
        margin-right: 8px;
    }
