<MudPaper Class="background-image" Elevation="4" Style="background-image: url('/img/image3.png');">
    <div class="bg-transparent">
        <MudText Typo="Typo.h5" Class="overlay-text">Our Expertise</MudText>
        <MudText Typo="Typo.body2" Class="overlay-text">
            We provide customized solutions, including PLC programming, artificial vision systems, and data storage and reporting systems. Our strong emphasis on quality management ensures continuous improvement and the development of new solutions to meet and exceed client expectations.
        </MudText>
    </div>
</MudPaper>